
    <h1>Here's The Original Post Yo!</h1>
    <p><%= @post.name %></p>
    <p><%= @post.content %></p>
    <form method="POST" action="/posts/<%= @post.id %>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <input type="text" name="name">
      <input type="text" name="content">
      <input type="submit" name="submit" value="submit">
    </form>
